﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <style>
        .glow {
            color: black;
            text-align: center;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body class="is-preload">

    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <img src="~/images/LOGO2.png" style="top:0; max-width:95%; max-height:200px; height:auto" alt="" />
                </header>

                @RenderBody()
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <section>
                    <img src="~/images/LOGO.png" alt="" style="width: 15em;" />
                    <h3 style="color: darkblue; align-content:center">
                        ಸಮಾನತೆ , ಸಮೃದ್ದ , ಸ್ವಾಭಿಮಾನಿ -  ಕರ್ನಾಟಕದ ನಿರ್ಮಾಣವೇ ಕರಪ ಗುರಿ.
                    </h3>
                </section>

                <!-- Menu -->
                <nav id="menu" style="margin-left: 0.8em;">
                    <header class="major">
                        <h2>ಆಯ್ಕೆಗಳು</h2>
                    </header>
                    <ul style="font-size:x-large">
                        <li><a href="@Url.Action("Index","Home")"><b>ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ</b></a></li>
                        <li><a href="@Url.Action("AboutUs","Home")"><b>ನಮ್ಮ ಬಗ್ಗೆ</b></a></li>
                        <li><a href="@Url.Action("President","Home")"><b>ರಾಜ್ಯಾಧ್ಯಕ್ಷರನುಡಿ</b></a></li>
                        <li><a href="@Url.Action("Coremembers","Home")"><b>ಮೂಲ ತಂಡ</b></a></li>
                        <li><a href="@Url.Action("Index","Membership")"><b>ನೋಂದಣಿ</b></a></li>
                        <li><a href="@Url.Action("News","Home")"><b>ಪತ್ರಿಕೆ ವರದಿಗಳು</b></a></li>
                        <li>
                            <span class="opener"><b>ಗ್ಯಾಲರಿ</b></span>
                            <ul style="font-size:large">
                                <li style="color:black"><a href="@Url.Action("Photos","Media")"><b>ಫೋಟೋ ಗ್ಯಾಲರಿ</b></a></li>
                                <li style="color:black"><a href="@Url.Action("Videos","Media")"><b>ವೀಡಿಯೊ ಗ್ಯಾಲರಿ</b></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>


                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>
                            ವಿಷಯಗಳು
                        </h2>
                    </header>
                    <div class="mini-posts">
                        <article style="width:100%">
                            <a href="#" class="image"><img src="~images/pic07.jpg" alt="" /></a>
                            @*<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>*@
                        </article>
                        <article>
                            <a href="#" class="image"><img src="~images/pic08.jpg" alt="" /></a>
                            @*<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>*@
                        </article>
                        <article>
                            <a href="#" class="image"><img src="~images/pic09.jpg" alt="" /></a>
                            @*<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>*@
                        </article>
                    </div>
                    <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                    </ul>
                </section>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright" style="color:white; font-size:large">All rights reserved ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ.</p><p style="color:white;">Design: <a style="color:white;" href="https://html5up.net">HTML5 UP</a>.</p>
                </footer>

            </div>
        </div>

    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/lib/jquery-steps/jquery.steps.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
