﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lte/dist/css/adminlte.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <img src="~/lte/dist/img/LOGO2.png" style="top:0; max-width:90%; max-height:140px; height:auto; display: block; margin-left: auto;  margin-right: auto;" alt="" />

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/lte/dist/img/LOGO.png" alt="logo" style="width: 10em; opacity: .8" />
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <!--<div class="image">
                      <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>-->
                    <div style="width:90%">
                        <p class="d-block" style="color:#007bff; font-size:medium"><b>ಸಮಾನತೆ, ಸಮೃದ್ದ, ಸ್ವಾಭಿಮಾನಿ</b></p><p class="d-block" style="color:#007bff;"><b>ಕರ್ನಾಟಕ ನಿರ್ಮಾಣ ಕರಪ ಗುರಿ</b></p>

                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Home")" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ
                                    <!--<span class="right badge badge-danger">New</span>-->
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("AboutUs","Home")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    ನಮ್ಮ ಬಗ್ಗೆ
                                    <!--<span class="right badge badge-danger">New</span>-->
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("President","Home")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    ರಾಜ್ಯಾಧ್ಯಕ್ಷರನುಡಿ
                                    <!--<span class="right badge badge-danger">New</span>-->
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Coremembers","Home")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    ಮೂಲ ತಂಡ
                                    <!--<span class="right badge badge-danger">New</span>-->
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Membership")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    ನೋಂದಣಿ
                                    <!--<span class="right badge badge-danger">New</span>-->
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("News","Home")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    ಪತ್ರಿಕೆ ವರದಿಗಳು
                                    <!--<span class="right badge badge-danger">New</span>-->
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    ಗ್ಯಾಲರಿ
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Photos","Media")" class="nav-link">
                                        <i class="far fa-picture-o nav-icon"></i>
                                        <p>ಫೋಟೋ ಗ್ಯಾಲರಿ</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Videos","Media")" class="nav-link">
                                        <i class="far fa-viadeo nav-icon"></i>
                                        <p>ವೀಡಿಯೊ ಗ್ಯಾಲರಿ</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
                <div>
                    <div class="row">&nbsp;</div>
                </div>
            </div>
            <!-- /.sidebar -->
        </aside>

        @RenderBody()

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                @*Anything you want*@
            </div>
            <!-- Default to the left -->
            ಕೃತಿಸ್ವಾಮ್ಯ <label style="font-family:Arial; font-weight: 400;">&copy; 2020 </label> <strong>ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ.</strong> ಎಲ್ಲ ಹಕ್ಕುಗಳನ್ನು ಕಾಯ್ದಿರಿಸಲಾಗಿದೆ.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lte/dist/js/adminlte.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
