﻿@page
@{
    //ViewData["Title"] = "ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ";
    Layout = "~/Views/Shared/_LayoutALTE.cshtml";
}

@section Styles{

    <link rel="stylesheet" href="~/lte/plugins/ekko-lightbox/ekko-lightbox.css">

    <style>
        input, button, select, optgroup, textarea {
            margin: 0;
            font-family: Arial;
            font-size: inherit;
            line-height: inherit;
        }
    </style>

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ಫೋಟೋ ಗ್ಯಾಲರಿ</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/belagavi more.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/belagavi more.jpg" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/dub.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/dub.jpg" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/h33.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/h33.jpg" class="img-fluid mb-2" alt="red sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/h4.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/h4.jpg" class="img-fluid mb-2" alt="red sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/h6.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/h6.jpg" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/harish 1.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/harish 1.jpg" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/harish conference.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/harish conference.jpg" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/harish horaa.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/harish horaa.jpg" class="img-fluid mb-2" alt="red sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/harish speech.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/harish speech.jpg" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/harish5.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/harish5.jpg" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/harish7.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/harish7.jpg" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/hh.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/hh.jpg" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/hindi impo1.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/hindi impo1.jpg" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/rairatra sala manna.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/rairatra sala manna.jpg" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/ras.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/ras.jpg" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                @*<div class="col-sm-2">
                                        <a href="~/images/Photos/h8.jpg" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                            <img src="~/images/Photos/h8.jpg" class="img-fluid mb-2"  style="max-height:150px" alt="white sample" />
                                        </a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@*<style="max-width: 300px; max-height:220px"></style>*@
@section Scripts{
    <!-- jQuery UI -->
    <script src="~/lte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Ekko Lightbox -->
    <script src="~/lte/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>

    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });

        })
    </script>
}