﻿@page
@{
    //ViewData["Title"] = "ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ";
    Layout = "~/Views/Shared/_LayoutALTE.cshtml";
}

@section Styles{

    <link rel="stylesheet" href="~/lte/plugins/ekko-lightbox/ekko-lightbox.css">

    <style>
        input, button, select, optgroup, textarea {
            margin: 0;
            font-family: Arial;
            font-size: inherit;
            line-height: inherit;
        }
    </style>

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ವೀಡಿಯೊ ಗ್ಯಾಲರಿ</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <p><b>ಶೀಘ್ರದಲ್ಲೇ ! ದಯಮಾಡಿ ನಿರೀಕ್ಷಿಸಿ</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@*<style="max-width: 300px; max-height:220px"></style>*@
@section Scripts{
    <!-- jQuery UI -->
    <script src="~/lte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Ekko Lightbox -->
    <script src="~/lte/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>

    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });

        })
    </script>
}

