﻿@page
@{
    //ViewData["Title"] = "ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutALTE.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ನಮ್ಮ ಬಗ್ಗೆ</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-1" style="vertical-align: middle;">
                        <img src="~/images/LOGO.png" style="top:0; max-width:95%; max-height:900px; height:auto" alt="" />
                    </div>
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-2" style="font-size:large">
                        <p>
                            ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆಯು ಕನ್ನಡ ನಾಡು, ನುಡಿ, ಜಲ, ಗಡಿ ರಕ್ಷಣೆ ಮತ್ತು ನಾಡಜನರ ಪರವಾದ ಹೋರಾಟದಲ್ಲಿ ಮುಂಚೂಣಿಯಲ್ಲಿ ನಿಲ್ಲುವ ಜಾತ್ಯಾತೀತ, ಧರ್ಮಾತೀತ,
                            ಸರ್ವ ಜನಪರ ಚಿಂತನೆಯ ಯುವಕರನ್ನೊಳಗೊಂಡ ಸಂಘಟನೆಯಾಗಿದೆ. ನಾಡಪರ ಹೋರಾಟದ ಜೊತೆಗೆ ನೊಂದವರ, ಶೋಷಿತರ, ಬಡವರ, ಕಾರ್ಮಿಕರ, ರೈತರ,
                            ಮಹಿಳೆಯರ, ಅಲ್ಪಸಂಖ್ಯಾತರ ಮತ್ತು ತುಳಿತಕ್ಕೊಳಗಾದವರ ಪರ ಸಂವಿಧಾನಿಕ ನೆಲೆಗಟ್ಟಿನಲ್ಲಿ ಹೋರಾಡುವುದೇ ನಮ್ಮ ಧ್ಯೇಯವಾಗಿದೆ. "ಕನ್ನಡಕ್ಕಾಗಿ ಶಾಂತಿ, ಕನ್ನಡಕ್ಕಾಗಿ ಕ್ರಾಂತಿ"
                            ಎನ್ನುವ ಘೋಷವಾಕ್ಯದೊಂದಿಗೆ 01/01/2015ರಂದು ಹುಟ್ಟಿಕೊಂಡ ನಮ್ಮ ಸಂಘಟನೆ ಘೋಷಣೆಗೆ ಅನುಗುಣವಾಗಿ ಕಾರ್ಯ ನಿರ್ವಹಿಸುತ್ತಿದೆ.
                            ನಮ್ಮ ಸಂಘಟನೆ ನಿರಂತರವಾಗಿ ಕರ್ನಾಟಕ ಎದುರಿಸುತ್ತಿರುವ ವಿವಿಧ ಸಮಸ್ಯೆ, ಒದಗಿ ಬರಬಹುದಾದ ಅಪಾಯಗಳ ಬಗ್ಗೆ ಎಚ್ಚರಿಸುತ್ತಲೇ ನಾಡಪರವಾದ ಹೋರಾಟಗಳನ್ನ ನಡೆಸಿಕೊಂಡು ಬಂದಿದೆ.
                        </p>
                        <ul>
                            <li>
                                ಪರಿಸರಕ್ಕೆ ಮಾರಕವಾದ ಕೈಗಾ-ಕೋಚಿಕೋಡ್ ವಿದ್ಯುತ್ ಯೋಜನೆ ವಿರೋಧಿಸಿ ಪ್ರತಿಭಟನೆ,ನಂಜುಡಪ್ಪ ವರದಿಯ ತ್ವರಿತಗತಿಯ ಅನುಷ್ಠಾನಕ್ಕೆ ಒತ್ತಾಯಿಸಿ ವಿಚಾರ ಸಂಕಿರಣ.
                                <br />&nbsp;
                            </li>

                            <li>
                                ಪ್ರಸಕ್ತ ಪರಿಸ್ಥಿತಿಯಲ್ಲಿ ಕನ್ನಡ ಚಿತ್ರರಂಗಕ್ಕೆ ಅಗತ್ಯವಾಗಿರುವ ಡಬ್ಬಿಂಗ್ ಪರವಾದ ಹೋರಾಟ, ಕಳಸಾ ಬಂಡೂರಿ ಯೋಜನೆ ಜಾರಿಗೊಳಿಸುವಂತೆ ಒತ್ತಾಯಿಸಿ ಹೋರಾಟ, ಕಾವೇರಿ ಹೋರಾಟ.
                                <br />&nbsp;
                            </li>
                            <li>
                                ಸ್ವಸ್ಥ ಸಮಾಜದ ನಿರ್ಮಾಣಕ್ಕೆ ಮಾರಕವಾದ ಮೂಢನಂಬಿಕೆಯನ್ನು ನಿಯಂತ್ರಿಸುವ "ಮೌಢ್ಯ ಪ್ರತಿಬಂಧಕ ಕಾಯ್ದೆ" ಜಾರಿಗಾಗಿ ಒತ್ತಾಯಿಸಿ ಮೆರವಣಿಗೆ್.
                                <br />&nbsp;
                            </li>
                            <li>
                                ಕನ್ನಡಿಗರ ಮೇಲೆ ನಡೆಯುತ್ತಿರುವ ಹಿಂದಿ ಹೇರಿಕೆಯ ಕುರಿತು ವಿಚಾರ ಸಂಕಿರಣ ,"ಕನ್ನಡ ಶಾಲೆಗಳ ಉಳಿಸಿ" ಎಂಬ ಅಭಿಯಾನದ ಮೂಲಕ ಕನ್ನಡ ಶಾಲೆಗಳ ದತ್ತು ತೆಗೆದುಕೊಳ್ಳುವಿಕೆ.
                                <br />&nbsp;
                            </li>
                            <li>
                                ನೀಟ್ ಪರೀಕ್ಷೆಯ ಅರ್ಹತೆಯನುಸಾರದ ವೈದ್ಯಕೀಯ ಮತ್ತು ದಂತವೈದ್ಯಕೀಯ ಸೀಟು ಹಂಚಿಕೆಯಲ್ಲಿ ಕರ್ನಾಟಕದ ಅಭ್ಯರ್ಥಿಗಳಿಗೆ ಆಗುತ್ತಿರುವ ಅನ್ಯಾಯ ವಿರೋಧಿಸಿ ಪ್ರತಿಭಟನೆ.
                                <br />&nbsp;
                            </li>
                            <li>
                                ಬೆಳೆನಷ್ಟ ಮತ್ತು ಬೆಲೆನಷ್ಟದಿಂದಾಗಿ ತೀವ್ರ ಸಂಕಷ್ಟದಲ್ಲಿರುವ ರಾಜ್ಯದ ರೈತರ ಸಾಲಮನ್ನಾ ಮತ್ತು ಬರಪರಿಹಾರಕ್ಕಾಗಿ ಒತ್ತಾಯಿಸಿ ಪಂಜಿನ ಮೆರವಣಿಗೆ, ಸದ್ಯದ ಮಟ್ಟಿಗೆ ತೀರಾ ಅಗತ್ಯವಾದ.
                                <br />&nbsp;
                            </li>
                            <li>
                                "ಕರ್ನಾಟದ ಉದ್ಯೋಗಗಳು ಕನ್ನಡಿಗರಿಗೇ ಸಿಗಲಿ" ಎಂಬ ದೇಶಾದ್ಯಂತ ಸುದ್ದಿ ಮಾಡಿದ ಹೋರಾಟ, "ಹಿಂದಿ ದಿವಸ್" ವಿರೋಧಿಸಿ ದೇಶಾದ್ಯಂತ ಸುದ್ದಿ ಮಾಡಿದ ಬೆಂಗಳೂರಿನಲ್ಲಿ ಹಮ್ಮಿಕೊಂಡಿದ್ದ ಕರಾಳ ದಿನಾಚರಣೆಯ
                                ಮೆರವಣಿಗೆ ಹೀಗೆ ಅನೇಕ ಹೋರಾಟ,ಪ್ರತಿಭಟನೆ, ಸಂಕಿರಣ, ಉತ್ಸವ, ಸಭೆ, ಸಾಂಸ್ಕೃತಿಕ ಚಟುವಟಿಕೆಗಳನ್ನು ನಡೆಸುತ್ತಾ ಬಂದಿ.
                                <br />&nbsp;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

