﻿@page
@{
    //ViewData["Title"] = "ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutALTE.cshtml";
}

@section Styles{
    <style>
        .section-title {
            float: left;
            font-size: 1.1rem;
            font-weight: 400;
            margin: 0;
        }
    </style>
}

<div class="content-wrapper">
    <div class="row">
        &nbsp;
    </div>
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10" style="margin-left: auto; margin-right: auto; ">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="~/images/Photos/Slider/PHOTO202011192027_1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="~/images/Photos/Slider/PHOTO202011192027_2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="~/images/Photos/Slider/PHOTO202011192027_3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="~/images/Photos/Slider/PHOTO202011192027_4.jpg" alt="Forurth slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <br />
                            <a href="@Url.Action("Index","Membership")" class="card-link glow" style="float:right; font-family:Arial">ಬನ್ನಿ ಕೈ ಜೋಡಿಸಿ / Register</a>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                ನಮ್ಮ ಹೋರಾಟಗಳು
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="callout callout-danger">
                                <div class="row">
                                    <span class="right badge badge-danger" style="float:right; font-family:Arial">ಇತ್ತೀಚಿನ ಹೋರಾಟಗಳು</span>
                                </div>

                                <div class="row">&nbsp;</div>

                                <div class="row">
                                    <h5 class="section-title"><u>ಕರ್ನಾಟಕದ ಕೆಲಸಗಳು ಕನ್ನಡಿಗರಿಗೆ</u></h5>
                                </div>


                                <div class="row">&nbsp;</div>


                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src="~/images/Photos/KarnatakaJobsForKanandigas.jpg" style="max-height:125px; max-width:125px" alt="" />
                                    </div>
                                    <div class="col-lg-10" style="padding:0.75rem">
                                        ಕರ್ನಾಟಕದ ಕೆಲಸಗಳು ಕನ್ನಡಿಗರಿಗೆ ಸಿಗಲಿ ಎಂದು ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ ಹಲವು ವರ್ಷಗಳಿಂದ ಹೋರಾಟ ಮಾಡಿಕೊಂಡು ಬರುತಿದ್ದು ಉಪವಾಸ ಸತ್ಯಾಗ್ರಹ ಮಾಡಿ ಇನ್ನಿತರ ಕನ್ನಡ ಪರ ಸಂಘಟನೆಯೊಂದಿಗೆ ಸೇರಿ  ಇಡೀ ರಾಜ್ಯದ ಗಮನ ಸೆಳೆಯಿತು ಹಾಗೂ ಈ ಹೋರಾಟದ ಪ್ರತಿಫಲವಾಗಿ ಆದೇಶ ಬರುವ ಮುನ್ಸೂಚನೆ ಸಿಗುತಿದ್ದು ನಿರ್ಣಾಯಕ ಪಾತ್ರ  ವಹಿಸುವಲ್ಲಿ ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ ಯಶಸ್ಸು ಕಂಡಿದೆ.
                                    </div>
                                </div>
                            </div>
                            <div class="callout callout-warning">

                                <div class="row">
                                    <h5 class="section-title"><u>ರಾಯಣ್ಣ ಹೋರಾಟ</u></h5>
                                </div>


                                <div class="row">&nbsp;</div>


                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src="~/images/Horata.jpg" style="max-height:125px; max-width:125px" alt="" />
                                    </div>
                                    <div class="col-lg-10" style="padding:0.75rem">
                                        ಬೆಳಗಾವಿಯ ಪೀರಣವಾಡಿಯಲ್ಲಿ ಹಲವು ವರ್ಷಗಳ ಬೇಡಿಕೆ ಇದ್ದರೂ ಸಹ ಮರಾಟಿ ವೋಟ್ ಬ್ಯಾಂಕ್ಗೋಸ್ಕರ ಸ್ಥಳೀಯ ರಾಜಕಾರಣಿಗಳು ಇದನ್ನು ಪರಿಗಣಿಸಿರಲಿಲ್ಲ ..


                                        ಆಗಸ್ಟ್ 15 2020 ರಂದು ರಾಯಣ್ಣ ಪ್ರತಿಮೆ ಪ್ರತಿಷ್ಟಾನ ಮಾಡಲು ಮುಂದಾದ ಸ್ಥಳೀಯ ಕನ್ನಡಿಗರಿಗೆ ಲಾಟಿ ಚಾರ್ಜ್ ಮಾಡಲಾಯಿತು , ಜೊತೆಗೆ ಗೌರವ ಇಲ್ಲದೆ ರಾಯಣ್ಣ ಪ್ರತಿಮೆ ಅನ್ನು ಸ್ಥಳಾಂತರಿಸಲಾಯಿತು !

                                        ಇದರ ವಿರುದ್ದ ಸಿಡೆದೆದ್ದ ಬೈರಪ್ಪ ಹರೀಶ್ ಕುಮಾರ್  ನೇತೃತ್ವದ ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ ಸಾಮಾಜಿಕ ಜಾಲ ತಾಣ ಮೂಲಕ ಸತತ ಅಭಿಯಾನ ನೆಡೆಸಿತು , ಬೀದಿಗೆ ಇಳಿದು ಹೋರಾಟ ಮಾಡಿತು , 1 ದಿನ ಉಪವಾಸ ಸತ್ಯಾಗ್ರಹ ಮಾಡಿತು ಇದ್ಯಾವುದಕ್ಕೂ ಸರ್ಕಾರ ಬಗ್ಗದೆ ಇದ್ದಾಗ ಬೆಳ್ಗಾವಿ ಚಲೋ ಕರೆ ಕೊಟ್ಟು ಭರ್ಜರಿ ಹೋರಾಟ ರೂಪಿಸಿ ರಾಯಣ್ಣ ಪ್ರತಿಮೆ ಸ್ಥಾಪಿಸಿ ಇಡೀ ಕರ್ನಾಟಕದ ಹಾಗೂ ರಾಯಣ್ಣ ಅಭಿಮಾನಿಗಳ ಮನಸ್ಸಿನಲ್ಲಿ ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ ಹರೀಶ್ ಕುಮಾರ್ ಸ್ಥಾನ ಪಡೆದರು.
                                    </div>
                                    <br />
                                    <a class="btn btn-primary" style="color:white; float:right" href="@Url.Action("Reayanna","Home")">ಹೆಚ್ಚಿನ ಮಾಹಿತಿ</a>
                                </div>
                            </div>
                            <div class="callout callout-danger">
                                <div class="row">
                                    <h5 class="section-title"><u>ರೈತರ ಸಾಲಮನ್ನ</u></h5>
                                </div>


                                <div class="row">&nbsp;</div>

                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src="~/images/Photos/rairatra sala manna.jpg" style="max-height:125px; max-width:125px" alt="" />
                                    </div>
                                    <div class="col-lg-10" style="padding:0.75rem">
                                        ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ ರೈತರ ಸಾಲ ಮನ್ನಕ್ಕಾಗಿ ಬೃಹತ್ ಪಂಜಿನ ಮೆರವಣಿಗೆ
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

@section Scripts{
    <script>
        $(".callout-danger").css("border-left-color", "red");
        $(".callout-warning").css("border-left-color", "yellow");
    </script>
}