﻿@page
@{
    //ViewData["Title"] = "ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ";
    Layout = "~/Views/Shared/_LayoutALTE.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ರಾಜ್ಯಾಧ್ಯಕ್ಷರನುಡಿ</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-1" style="vertical-align: middle;">
                        <img src="~/images/Rajyadyaksharu.png" style="top:0; max-width:95%; max-height:690px; height:auto" alt="" />
                    </div>
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-2" style="font-size:large">
                        <p>
                            ಕನ್ನಡ ಭಾಷೆ,ಸಾಹಿತ್ಯ,ಕಲೆ,ಜನಪದ,ಸಂಸ್ಕೃತಿಗಳ ಸಂವರ್ಧನೆ ಹಾಗೂ ನೆಲ-ಜಲ-ಗಡಿಯ ಸಂರಕ್ಷಣೆಯ ಮಹದಾಶಯದೊಂದಿಗೆ ಹುಟ್ಟುಹಾಕಿದ ಸಂಘಟನೆಯಾದ "ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ"ಯ
                            ರಾಜ್ಯಾಧ್ಯಕ್ಷನಾದ ನಾನು,ಶ್ರೇಷ್ಠವಾದ ಸಂವಿಧಾನಕ್ಕೆ ಧಕ್ಕೆ ಬಾರದಂತೆ ಜಾತ್ಯಾತೀತ-ಧರ್ಮಾತೀತವಾಗಿ ಸಂಘಟನೆಯನ್ನು ಮುನ್ನಡೆಸಿಕೊಂಡು ಹೋಗುತ್ತೇನೆ.ರೈತರ ಏಳಿಗೆಗಾಗಿ,ಬಡವರ ಅಭಿವೃದ್ಧಿಗಾಗಿ,
                            ಮಹಿಳೆಯರ ಸಮಾನತೆಗಾಗಿ,ತುಳಿತಕ್ಕೊಳಗಾದವರ-ದುರ್ಬಲರ ರಕ್ಷಣೆಗಾಗಿ ಹಾಗೂ ಸಕಲ ಕನ್ನಡಿಗರ ಹಿತಕ್ಕಾಗಿ ಸದಾ ನಮ್ಮ ಸಂಘಟನೆ ಮುಂಚೂಣಿಯಲ್ಲಿರುವಂತೆ ನೋಡಿಕೊಳ್ಳುವುದು ನಮ್ಮ ಗುರಿ.
                        </p>
                        <p>
                            ನಾಡಿನ ನೆಲ,ಜಲ,ಭಾಷೆ,ಪರಂಪರೆ ಮತ್ತು ಸಂಸ್ಕೃತಿಗೆ ಅಪಾಯ ಬಂದಾಗ ,ಕನ್ನಡಪರ ಮನಸುಗಳನ್ನು ಹುರಿದುಂಬಿಸಿ ಅವರನ್ನು ಹೋರಾಟಕ್ಕೆ ಅಣಿಗೊಳಿಸಿ ನಮ್ಮತನದ ರಕ್ಷಣೆಗೆ
                            ಶ್ರಮಿಸುವುದೇ ನಮ್ಮ ಮಹತ್ತರವಾದ ಉದ್ದೇಶ. ಸಂಘಟನೆ ಹುಟ್ಟುಹಾಕಿ ಕೆಲವೇ ವರ್ಷವಾಗಿದ್ದರೂ ನಮ್ಮ ಒಳ್ಳೆಯ ಉದ್ದೇಶ,ಕೈಗೊಂಡಿರುವ ಕಾರ್ಯ,ಮಾಡಿರುವ ಯಶಸ್ವಿ ಹೋರಾಟಗಳು,ನಮ್ಮ ಉತ್ತರದಾಯಿತ್ವ
                            ಮತ್ತು ಮುನ್ನೋಟಗಳನ್ನು ಗಮನಿಸಿ ಸಾವಿರಾರು ಆಸಕ್ತ ಯುವಕ-ಯುವತಿಯರು,ಹೋರಾಟಗಾರರು ನಮ್ಮ ಸಂಘಟನೆಗೆ ಬೆಂಬಲ ಸೂಚಿಸಿ ನಮ್ಮ ಕೈ ಬಲಪಡಿಸುತ್ತಿರುವುದು ಹೆಮ್ಮೆಯ ಸಂಗತಿ.ಹೀಗಾಗಿ ನಮ್ಮ ಸಂಘಟನೆಯ
                            ಹರವು ರಾಜ್ಯದ ಉದ್ದಗಲಕ್ಕೂ ವ್ಯಾಪಿಸಿದೆ. ಕನ್ನಡಕ್ಕಾಗಿ ಸಂಘಟನೆ ಕಟ್ಟಿ ಹೋರಾಟ ಮಾಡುವ ಅಗತ್ಯವೇನಿದೆ ಎಂದು ನೀವು ಕೇಳಬಹುದು.ಅದಕ್ಕೆ ಉತ್ತರ ಸ್ಪಷ್ಟ.
                        </p>
                        <p>
                            ನಮ್ಮ ನೆಲದಲ್ಲೇ ನಾವು ಪರಕೀಯರಾಗುವ ಸಂಭವವನ್ನು
                            ತಡೆಯಲು ಸಂಘಟನೆಯ ಬಲ ಅತ್ಯಗತ್ಯ.ಆ ಕಡೆ ಎನ್ನಡ,ಈ ಕಡೆ ಎಕ್ಕಡ ಎಲ್ಲೈತೆ ಕನ್ನಡ? ಎಂಬ ಪ್ರಶ್ನೆಯನ್ನು ಕನ್ನಡಿಗನೇ ಕನ್ನಡಿಗನಿಗೆ ಕೇಳಿಕೊಳ್ಳಬೇಕಾದ ಸಂದರ್ಭ ಇಂದು ಬಂದಿದೆ.ಕರ್ನಾಟಕದ ಇಂದಿನ ಪರಿಸ್ಥಿತಿ
                            ಕದಂಬರು ನೆಲೆಗೊಳ್ಳುವ ಪೂರ್ವಕಾಲಕ್ಕಿಂತ ಭಿನ್ನವಾಗಿಲ್ಲ.ಪರಭಾಷಿಕರ ಅಪರಿಮಿತ ವಲಸೆ ಮತ್ತು ಕನ್ನಡಿಗರೇ ಕನ್ನಡದ ಬಗ್ಗೆ ತೋರುವ ಉದಾಸೀನತೆಯಿಂದ ಕನ್ನಡಕ್ಕೆ ಈ ಅಪಾಯ ಬಂದಿದೆ.
                            ಕೇವಲ ಭಾಷೆಯ ಕಗ್ಗೋಲೆಯಷ್ಟೇ ಅಲ್ಲದೇ ನಮ್ಮ ನೆಲ,ಜಲ,ಗಡಿ,ಸಂಸ್ಕೃತಿಗೂ ಅಪಾಯ ಎದುರಾಗಿರುವುದು ಸುಸ್ಪಷ್ಟ. ಕನ್ನಡದ ಯುವಕರು ಎದ್ದೇಳಬೇಕು. ಮಯೂರವರ್ಮ,ಬಿಎಂಶ್ರೀ,ನಾಲ್ವಡಿ,
                            ವಿಶ್ವೇಶ್ವರಯ್ಯ, ಅನಕೃ, ಮ.ರಾಮಮೂರ್ತಿ, ನಿಜಲಿಂಗಪ್ಪ,ಆಲೂರು ವೆಂಕಟರಾಯರು,ರಾ.ಹ.ದೇಶಪಾಂಡೆ,ಕುವೆಂಪು,ಕೆಂಗಲ್ಹನುಮಂತಯ್ಯ,ಸಿದ್ದಪ್ಪ ಹೊಸಮನಿ,ಗೊರೂರು,ಕಯ್ಯಾರ, ಡಾ. ರಾಜ್ ಕುಮಾರರಂತವರು ನಮ್ಮ
                            ನಿಮ್ಮ ಆದರ್ಶವಾಗಬೇಕು.ಕನ್ನಡ ಜೀವ ಭಾಷೆಯಾಗಬೇಕು.ಅನ್ನದ ಭಾಷೆಯಾಗಬೇಕು. ಕರ್ನಾಟಕದಲ್ಲಿರುವ ಪ್ರತಿಯೊಬ್ಬರ ನಾಲಿಗೆಯಲಿ ಕನ್ನಡ ನಲಿದಾಡಬೇಕು.ಹೃದಯದಲಿ ಕನ್ನಡ ವಿಜೃಂಭಿಸಬೇಕು.ನಮ್ಮ ವೈಭವವನ್ನು
                            ನಾವು ಮರಳಿ ಪಡೆಯುವುದರ ಜೊತೆ,ಕನ್ನಡ-ಕರ್ನಾಟಕದ ಕೀರ್ತಿಪತಾಕೆಯನ್ನು ವಿಶ್ವಮಟ್ಟದಲ್ಲಿ ಹಾರಿಸಬೇಕು.ಅಲ್ಲಿಯವರೆಗೂ ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ ವಿರಮಿಸುವುದಿಲ್ಲ.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

