﻿@page
@{
    //ViewData["Title"] = "ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ";
    Layout = "~/Pages/Shared/_LayoutALTE.cshtml";
}

@section Styles{

    <link rel="stylesheet" href="~/lte/plugins/ekko-lightbox/ekko-lightbox.css">

    <style>
        input, button, select, optgroup, textarea {
            margin: 0;
            font-family: Arial;
            font-size: inherit;
            line-height: inherit;
        }
    </style>

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ಫೋಟೋ ಗ್ಯಾಲರಿ</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-title" style="padding:0.75rem">
                            ರಾಯಣ್ಣನ ಪ್ರತಿಮೆಗೆ ಹಾಗೂ ರಾಷ್ಟ್ರಧ್ವಜಕ್ಕೆ ಅಪಮಾನ ಮಾಡಿದ ವಡಗಾವ್‌ ಪೊಲೀಸ್‌ ಠಾಣೆಯ ಠಾಣಾಧಿಕಾರಿ ಹಾಗೂ ಸಿಬ್ಬಂದಿಗಳನ್ನು ಅಮಾನತುಗೊಳಿಸಿ ಕ್ರಮ ತೆಗೆದುಕೊಳ್ಳಬೇಕು ಹಾಗೂ ಅದೇ ಸ್ಥಳದಲ್ಲಿ ಸರಕಾರವೇ ಮುಂದೆ ನಿಂತು ಅದೇ ಸ್ಥಳದಲ್ಲಿ ರಾಯಣ್ಣನ ಪ್ರತಿಮೆಯನ್ನು ಸ್ಥಾಪಿಸಬೇಕು ಎಂದು ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆಯ  ಬೀ ಹರೀಶ್ ಕುಮಾರ್ ರವರು ಸಮಾಜಕಿಕ ಜಾಲತಾಣ ಮುಖಾಂತರ ಕ್ರಾಂತಿಯ ಕಿಡಿ ಹಚ್ಚಿದರು ,
                            ಅದಾದ ನಂತರ ಬೆಂಗಳೂರಿನ ಟೌನ್ ಹಾಲ್ ಮುಂಬಾಗ ಧರಣಿ ಕೂತರು ಹಾಗೂ ಮತ್ತೆ ಒಂದು ದಿವಸ ಉಪವಾಸ ಕುಳಿತು , ಬೆಳಗಾವಿ ನೆಡೆ ಕಾರ್ಯಕ್ರಮಕ್ಕೆ ಚಲನೆ ಕೊಟ್ಟು ಬೆಳಗಾವಿಗೆ ಬೃಹತ್ ಮಟ್ಟದ ಪಾದ ಯಾತ್ರೆ ಕೈಗೊಂಡು ಇಡೀ ಕರ್ನಾಟಕಕ್ಕೆ  ಬೆಳಗಾವಿ ಪ್ರಾಣವಾದಿ ರಾಯಣ್ಣ ಮೂರ್ತಿ ವಿಷಯ ತಲುಪುವಂತೆ ಮಾಡಿ ಕನ್ನಡ ಕಿಚ್ಚನ್ನು ತೋರಿಸಿ ಎಲ್ಲರ ಮಾನ್ಸ್ಸ್ಸು ಗೆದ್ದರು .
                            ಇದಕ್ಕೆ ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆಯ ಎಲ್ಲ ಕಾರ್ಯಕ್ರರ್ತರು ಕೈ ಜೂಡಿಸಿದರು !
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/Rayanna/R1.png" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/Rayanna/R1.png" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/Rayanna/R2.png" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/Rayanna/R2.png" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                @*<div class="col-sm-2">
                                        <a href="~/images/Photos/Rayanna/R3.png" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                            <img src="~/images/Photos/Rayanna/R3.png" class="img-fluid mb-2" alt="red sample" />
                                        </a>
                                    </div>*@
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/Rayanna/R4.png" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/Rayanna/R4.png" class="img-fluid mb-2" alt="red sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/Rayanna/R5.png" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/Rayanna/R5.png" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/Rayanna/R6.png" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/Rayanna/R6.png" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="~/images/Photos/Rayanna/R7.png" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                        <img src="~/images/Photos/Rayanna/R7.png" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@*<style="max-width: 300px; max-height:220px"></style>*@
@section Scripts{
    <!-- jQuery UI -->
    <script src="~/lte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Ekko Lightbox -->
    <script src="~/lte/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>

    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });

        })
    </script>
}

