﻿@*Create this model*@
@model BM.Thrive.Portal.Models.PaymentInitiateModel

@{ Layout = "~/Views/Shared/_LayoutALTE.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment Initiate</title>

    @*Link this css*@
    <link href="~/css/paymentstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container login-container">
        <div class="login-card">
            <div class="login-card-body">
                @using (Html.BeginForm("CreateOrder", "Payment", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <label for="name">Name</label>
                        @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                    </div>
                    <div class="row">
                        <label for="email">Email</label>
                        @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                    </div>
                    <div class="row">
                        <label for="contactNumber">Contact Number</label>
                        @Html.TextBoxFor(x => x.contactNumber, new { @class = "form-control" })
                    </div>
                    <div class="row">
                        <label for="address">Address</label>
                        @Html.TextBoxFor(x => x.address, new { @class = "form-control" })
                    </div>
                    <div class="row">
                        <label for="amount">Amount</label>
                        @Html.TextBoxFor(x => x.amount, new { @class = "form-control" })
                    </div>

                   <button type="submit" class="btn btn-primary">Submit</button>}
            </div>
        </div>
    </div>
</body>
</html>