﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutALTE.cshtml";
}
@section Styles{

    <link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
}
<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            @if (ViewBag.IsValidRequest == false)
            {
                <p class="lead"><label class="label-danger">Invalid Request.!</label></p>
            }
            else
            {
                if (ViewBag.IsPaymentSuccess == true && ViewBag.IsPaymentCapturedSuccess == true)
                {
                    <p class="lead"><label class="label-success">Payment Captured successfully.!</label></p>
                }
                else if (ViewBag.IsPaymentSuccess == true)
                {
                    <p class="lead"><label class="label-warning">Payment done successfully.!</label></p>
                }
                else
                {
                    <p class="lead"><label class="label-warning">Payment failed.!</label></p>
                }
            }


        </div>
    </div>
</div>