﻿@page
@model BM.Thrive.Portal.Models.Member
@{
    //ViewData["Title"] = "ಕರ್ನಾಟಕ ರಣಧೀರ ಪಡೆ";
    Layout = "~/Views/Shared/_LayoutALTE.cshtml";
}
@section Styles{

    <link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
    @*<style>
            .card {
                border: 1px solid #f56a6a;
                border-radius: .25rem;
                background-color: white;
                padding: 1em 1em;
            }
        </style>*@
    <style>
        #feedback {
            font-size: 1.4em;
        }

        #selectable .ui-state-default {
            background: white;
        }

        #selectable .ui-selecting {
            background: #FECA40;
        }

        #selectable .ui-selected {
            background: #F39814;
            color: white;
        }

        #selectable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

            #selectable li {
                margin: 0 0 0.2em 0;
                padding: 1em 1em 1em 1em;
                float: left;
                width: 200px;
                height: 80px;
                font-size: 1.5em;
                text-align: center;
            }
    </style>

    <style>
        .btn-lg, .btn-group-lg > .btn {
            padding: 0.75rem;
        }
    </style>

}
@*<form id="registerForm">*@
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ನೋಂದಣಿ</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid step1 step">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary card-tabs">
                            <div class="card-header p-0 pt-1">
                                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-gold" role="tab" aria-controls="custom-tabs-one-gold" aria-selected="true">ಚಿನ್ನ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-silver" role="tab" aria-controls="custom-tabs-one-silver" aria-selected="false">ಬೆಳ್ಳಿ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-bronze" role="tab" aria-controls="custom-tabs-one-bronze" aria-selected="false">ಕಂಚು</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-basic" role="tab" aria-controls="custom-tabs-one-basic" aria-selected="false">ಸಾಮಾನ್ಯ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-fan" role="tab" aria-controls="custom-tabs-one-fan" aria-selected="false">ಅಭಿಮಾನಿ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-one-tabContent">
                                    <div class="tab-pane fade show active" id="custom-tabs-one-gold" role="tabpanel" aria-labelledby="custom-tabs-one-gold-tab">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 order-1 order-md-1">
                                                <h3 class="my-3">
                                                    ಚಿನ್ನದ ಸದಸ್ಯತ್ವ
                                                </h3>
                                                <p>ನೀವು ಕೆಳಕಂಡ ದಾಖಲೆಗಳನ್ನು ಪಡೆಯುತ್ತೀರಿ</p>
                                                <div class="row">
                                                    <div class="col-12 col-sm-3">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <img src="~/images/IdCard.png" style="max-height:300px; max-width:250px" alt="" />
                                                                <span class="info-box-number text-muted mb-0" style="font-family:Arial">ಗುರುತಿನ ಚೀಟಿ / Id Card</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-sm-3">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <img src="~/images/Certificate.png" style="max-height:300px; max-width:300px;" alt="" />
                                                                <span class="info-box-number text-muted mb-0" style="font-family:Arial">ಪ್ರಮಾಣಪತ್ರ / Certificate</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="bg-gray py-2 px-3 mt-4">
                                                            <h2 class="mb-0" style="font-family:Arial">
                                                                ₹ 500
                                                            </h2>
                                                        </div>

                                                        <div class="post">
                                                            <br />
                                                            <p>ಇಮೇಲ್ ಮತ್ತು ಎಸ್‌ಎಂಎಸ್ ಮೂಲಕ ನಮ್ಮ ಚಟುವಟಿಕೆಗಳ ಬಗ್ಗೆ ನಾವು ನಿಮಗೆ ತಿಳಿಸುತ್ತೇವೆ</p>
                                                        </div>
                                                        <div class="btn btn-primary btn-lg btn-flat cmdmemtype" name="btnSelectType" data-rate="500">
                                                            <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                            ಆಯ್ಕೆ ಮಾಡಿ
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-silver" role="tabpanel" aria-labelledby="custom-tabs-one-silver-tab">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 order-1 order-md-1">
                                                <h3 class="my-3">ಬೆಳ್ಳಿ ಸದಸ್ಯತ್ವ</h3>
                                                <p>ನೀವು ಕೆಳಕಂಡ ದಾಖಲೆಗಳನ್ನು ಪಡೆಯುತ್ತೀರಿ</p>
                                                <div class="row">
                                                    <div class="col-12 col-sm-3">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <img src="~/images/IdCard.png" style="max-height:300px; max-width:250px" alt="" />
                                                                <span class="info-box-number text-muted mb-0" style="font-family:Arial">ಗುರುತಿನ ಚೀಟಿ / Id Card</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-sm-3">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <img src="~/images/Certificate.png" style="max-height:300px; max-width:300px;" alt="" />
                                                                <span class="info-box-number text-muted mb-0" style="font-family:Arial">ಪ್ರಮಾಣಪತ್ರ / Certificate</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="bg-gray py-2 px-3 mt-4">
                                                            <h2 class="mb-0" style="font-family:Arial">
                                                                ₹ 300
                                                            </h2>
                                                        </div>

                                                        <div class="post">
                                                            <br />
                                                            <p>ಇಮೇಲ್ ಮತ್ತು ಎಸ್‌ಎಂಎಸ್ ಮೂಲಕ ನಮ್ಮ ಚಟುವಟಿಕೆಗಳ ಬಗ್ಗೆ ನಾವು ನಿಮಗೆ ತಿಳಿಸುತ್ತೇವೆ</p>
                                                        </div>
                                                        <div class="btn btn-primary btn-lg btn-flat cmdmemtype" name="btnSelectType" data-rate="300">
                                                            <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                            ಆಯ್ಕೆ ಮಾಡಿ
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-bronze" role="tabpanel" aria-labelledby="custom-tabs-one-bronze-tab">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 order-1 order-md-1">
                                                <h3 class="my-3">ಕಂಚು ಸದಸ್ಯತ್ವ</h3>
                                                <p>ನೀವು ಕೆಳಕಂಡ ದಾಖಲೆಗಳನ್ನು ಪಡೆಯುತ್ತೀರಿ</p>
                                                <div class="row">
                                                    <div class="col-12 col-sm-3">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <img src="~/images/IdCard.png" style="max-height:300px; max-width:250px" alt="" />
                                                                <span class="info-box-number text-muted mb-0" style="font-family:Arial">ಗುರುತಿನ ಚೀಟಿ / Id Card</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-sm-3">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <img src="~/images/Certificate.png" style="max-height:300px; max-width:300px;" alt="" />
                                                                <span class="info-box-number text-muted mb-0" style="font-family:Arial">ಪ್ರಮಾಣಪತ್ರ / Certificate</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="bg-gray py-2 px-3 mt-4">
                                                            <h2 class="mb-0" style="font-family:Arial">
                                                                ₹ 250
                                                            </h2>
                                                        </div>

                                                        <div class="post">
                                                            <br />
                                                            <p>ಇಮೇಲ್ ಮತ್ತು ಎಸ್‌ಎಂಎಸ್ ಮೂಲಕ ನಮ್ಮ ಚಟುವಟಿಕೆಗಳ ಬಗ್ಗೆ ನಾವು ನಿಮಗೆ ತಿಳಿಸುತ್ತೇವೆ</p>
                                                        </div>
                                                        <div class="btn btn-primary btn-lg btn-flat cmdmemtype" name="btnSelectType" data-rate="250">
                                                            <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                            ಆಯ್ಕೆ ಮಾಡಿ
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-basic" role="tabpanel" aria-labelledby="custom-tabs-one-basic-tab">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 order-1 order-md-1">
                                                <h3 class="my-3">ಸಾಮಾನ್ಯ ಸದಸ್ಯತ್ವ</h3>
                                                <p>ನೀವು ಕೆಳಕಂಡ ದಾಖಲೆಗಳನ್ನು ಪಡೆಯುತ್ತೀರಿ</p>
                                                <div class="row">
                                                    <div class="col-12 col-sm-3">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <img src="~/images/IdCard.png" style="max-height:300px; max-width:250px" alt="" />
                                                                <span class="info-box-number text-muted mb-0" style="font-family:Arial">ಗುರುತಿನ ಚೀಟಿ / Id Card</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @*<div class="col-12 col-sm-3">
                                        <div class="info-box">
                                            <div class="info-box-content">
                                                <img src="~/images/Certificate.png" style="max-height:300px; max-width:300px;" alt="" />
                                                <span class="info-box-number text-muted mb-0" style="font-family:Arial">ಪ್ರಮಾಣಪತ್ರ / Certificate</span>
                                            </div>
                                        </div>
                                    </div>*@
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="bg-gray py-2 px-3 mt-4">
                                                            <h2 class="mb-0" style="font-family:Arial">
                                                                ₹ 100
                                                            </h2>
                                                        </div>

                                                        <div class="post">
                                                            <br />
                                                            <p>ಇಮೇಲ್ ಮತ್ತು ಎಸ್‌ಎಂಎಸ್ ಮೂಲಕ ನಮ್ಮ ಚಟುವಟಿಕೆಗಳ ಬಗ್ಗೆ ನಾವು ನಿಮಗೆ ತಿಳಿಸುತ್ತೇವೆ</p>
                                                        </div>
                                                        <div class="btn btn-primary btn-lg btn-flat cmdmemtype" name="btnSelectType" data-rate="100">
                                                            <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                            ಆಯ್ಕೆ ಮಾಡಿ
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-fan" role="tabpanel" aria-labelledby="custom-tabs-one-fan-tab">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 order-1 order-md-1">
                                                <h3 class="my-3">ಅಭಿಮಾನಿ</h3>
                                                <p>ನಿಮ್ಮ ಬೆಂಬಲಕ್ಕಾಗಿ ಧನ್ಯವಾದಗಳು. ನೀವು ಯಾವುದೇ ದಾಖಲೆಗಳನ್ನು ಪಡೆಯುವುದಿಲ.</p>

                                                <div class="row">
                                                    <div class="col-12">
                                                        @*<div class="bg-gray py-2 px-3 mt-4">
                                            <h2 class="mb-0" style="font-family:Arial">
                                                ₹ 0
                                            </h2>
                                        </div>*@

                                                        <div class="post">
                                                            <br />
                                                            <p>ಇಮೇಲ್ ಮತ್ತು ಎಸ್‌ಎಂಎಸ್ ಮೂಲಕ ನಮ್ಮ ಚಟುವಟಿಕೆಗಳ ಬಗ್ಗೆ ನಾವು ನಿಮಗೆ ತಿಳಿಸುತ್ತೇವೆ</p>
                                                        </div>
                                                        <div class="btn btn-primary btn-lg btn-flat cmdmemtype" name="btnSelectType" data-rate="0">
                                                            <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                            ಆಯ್ಕೆ ಮಾಡಿ
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>

                       
                    </div>
                </div>
            </div><!-- /.container-fluid -->

            <div class="container-fluid step2 step" style="display:none">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    ನೀತಿ ಮತ್ತು ನಿಯಮಗಳು
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div style="max-height:600px; overflow:auto">
                                    <ul style="list-style-type: none;">
                                        <li>
                                            ೧. ಸಂಘಟನೆಯ ಸಭೆಗಳಲ್ಲಿ ಮತ್ತು ಹೋರಾಟಗಳಲ್ಲಿ ವಸ್ತ್ರ ಸಂಹಿತೆಯನ್ನು ಅನುಸರಿಸುವುದು ಖಡ್ಡಾಯವಾಗಿರುತ್ತದೆ. ಈ ಸಂದರ್ಭಗಳಲ್ಲಿ ಗುರುತಿನ ಚೀಟಿ ಹೊಂದಿರುವುದೂ ಕೂಡ ಕಡ್ಡಾಯ.
                                            <br />&nbsp;
                                        </li>

                                        <li>
                                            ೨. ರಾಜ್ಯಾಧ್ಯಕ್ಷರು ಶಿಸ್ತು ಸಮಿತಿಗೂ ಅಧ್ಯಕ್ಷರಾಗಿರುತ್ತಾರೆ. ಇವರಲ್ಲದೆ ನಾಲ್ಕು ಜನ ಸದ್ಯಸರಿರುತ್ತಾರೆ.ಶಿಸ್ತು ಸಮಿತಿಯ ತೀರ್ಮಾನವೇ ಅಂತಿಮವಾಗಿರುತ್ತದೆ.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೩. ಸಂಘಟನೆಯ ಯಾವುದೇ ಸದಸ್ಯ ಸಂಘಟನೆಯ ಹೆಸರನ್ನು ದುರುದ್ದೇಶಕ್ಕೆ ಅಥವಾ ವೈಯಕ್ತಿಕ ಸ್ವಾರ್ಥಕ್ಕೆ ಬಳಸಿಕೊಂಡರೆ ಅಂತವರನ್ನು ಸಂಘಟನೆಯಿಂದ ಉಚ್ಛಾಟಿಸಿ, ಶಿಸ್ತು ಕ್ರಮ ಕೈಗೊಳ್ಳಲಾಗುವುದು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೪.ಜಿಲ್ಲೆಗಳಿಂದ ಯಾವುದಾದರೂ ದೂರು ಬಂದಲ್ಲಿ ನೇಮಿಸಲ್ಪಟ್ಟಂತಹ ಜಿಲ್ಲಾಧ್ಯಕ್ಷರಿಂದ ಖಚಿತ ಮಾಹಿತಿ ಪಡೆದು ಶಿಸ್ತು ಸಮಿತಿ ತೀರ್ಮಾನ ತೆಗೆದುಕೊಳ್ಳುತ್ತದೆ.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೫.ಯಾವುದೇ ಪದಾಧಿಕಾರಿಗಳು ತಮ್ಮ ಅಧಿಕಾರ ವ್ಯಾಪ್ತಿಯನ್ನು ಅರಿತು ಕೆಲಸ ಮಾಡತಕ್ಕದ್ದು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೬.ಗುಂಪುಗಾರಿಕೆಗೆ ಯಾವುದೇ ರೀತಿಯ ಅವಕಾಶ ನೀಡಲೇಬಾರದು.ಗುಂಪುಗಾರಿಕೆಗೆ ಪ್ರಯತ್ನಿಸಿದರೆ ಶಿಸ್ತು ಸಮಿತಿಗೆ ದೂರು ನೀಡಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೭.ತಿಂಗಳಿಗೊಮ್ಮೆ ರಾಜ್ಯಾಧ್ಯಕ್ಷರ ಅನುಮತಿ ಪಡೆದು ರಾಜ್ಯಸಮಿತಿ ಸಭೆಯನ್ನು ನಡೆಸಲೇಬೇಕು. ಹಾಗೆಯೇ ಜಿಲ್ಲಾ ಸಮಿತಿ ,ತಾಲ್ಲೂಕು ಸಮಿತಿಗಳು
                                            ಕ್ರಮವಾಗಿ ಜಿಲ್ಲಾಧ್ಯಕ್ಷರು ಮತ್ತು ತಾಲ್ಲೂಕಾಧ್ಯಕ್ಷರ ಅನುಮತಿ ಪಡೆದು ಕಾರ್ಯಕರ್ತರ ಸಭೆ ನಡೆಸಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೮.ಎಲ್ಲ ಪದಾಧಿಕಾರಿಗಳು ಕಡ್ಡಾಯವಾಗಿ ತಪ್ಪದೆ ಸಂಘಟನೆಯ ಸಭೆಗೆ ಹಾಜರಾಗಬೇಕು.ಸಭೆಗೆ ಹಾಜರಾಗಲು ಸಾಧ್ಯವಾಗುತ್ತಿಲ್ಲವಾದರೆ ಅಧ್ಯಕ್ಷರು ಅಥವಾ ಕಾರ್ಯಧ್ಯಕ್ಷರಿಗೆ ಮಾಹಿತಿ ನೀಡಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೯.ಕಳೆದ ಸಭೆಯ ವಿಷಯಗಳು ಎಷ್ಟರ ಮಟ್ಟಿಗೆ ಅನುಷ್ಠಾನಗೊಂಡಿದೆ ಎಂಬುದನ್ನು ಸಭೆಯ ಆರಂಭದಲ್ಲಿ ಚರ್ಚಿಸಬೇಕು,ನಂತರ ಆ ತಿಂಗಳ ಮುನ್ನೋಟದ ಕುರಿತು ಚರ್ಚೆಯಾಗಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೦.ಯಾವುದೇ ಸ್ತರದ ಸಮಿತಿಯ ಪದಾಧಿಕಾರಿಗಳು ನಿರಂತರ ಸಂಪರ್ಕದಲ್ಲಿದ್ದು ಪರಸ್ಪರ ವಿಷಯ ವಿನಿಮಯ ಮಾಡಿಕೊಳ್ಳಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೧.ಜಿಲ್ಲೆ ಮತ್ತು ತಾಲ್ಲೂಕು ಮಟ್ಟದ ಪದಾಧಿಕಾರಿಗಳು ಗ್ರಾಮ ಮತ್ತು ಹೋಬಳಿ ಮಟ್ಟದ ಶಾಖೆಗಳನ್ನು ತೆರೆಯುವಂತೆ ಹುರಿದುಂಬಿಸಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೨.ವಿದ್ಯಾರ್ಥಿ ಘಟಕವನ್ನು ಸ್ಥಾಪಿಸುವತ್ತ ಹೆಚ್ಚಿನ ಗಮನ ಹರಿಸುವುದು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೩.ಪ್ರತಿಭಾನ್ವಿತ ಮಹಿಳೆಯರಿಗೆ ರಾಜ್ಯ,ಜಿಲ್ಲೆ ಮತ್ತು ತಾಲ್ಲೂಕು ಸಮಿತಿಗಳಲ್ಲಿ ಸೂಕ್ತವಾದ ಹುದ್ದೆಯನ್ನು ನೀಡುವುದು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೪.ಎಲ್ಲಾ ಹಂತದ ಪದಾಧಿಕಾರಿಗಳು ನಿರಂತರವಾಗಿ ಸದಸ್ಯತ್ವ ನೊಂದಾವಣೆಯ ಅಭಿಯಾನ ನಡೆಸುತ್ತಲೇ ಇರಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೫.ಪ್ರತಿ ಜಿಲ್ಲೆಯಲ್ಲೂ ಸ್ಥಳೀಯ ಸಮಸ್ಯೆಗಳನ್ನು ಕೈಗೆತ್ತಿಕೊಂಡು ಹೋರಾಟ ಅಥವಾ ವಿಚಾರ ಸಂಕಿರಣ ಮಾಡಲೇಬೇಕು.ಹೋರಾಟ ಯಶಸ್ವಿಯಾಗುವಂತೆ ನೋಡಿಕೊಂಡು ಆ ಸಮಸ್ಯೆ ಪರಿಹಾರವಾಗುವಂತೆ ನೋಡಿಕೊಳ್ಳಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೬. ಎಲ್ಲಾ ಘಟಕಗಳು ಹೋರಾಟವಷ್ಟೇ ಅಲ್ಲದೆ ಸಾರ್ವಜನಿಕ ಹಿತಾಸಕ್ತಿಯ ಕೆಲಸಗಳನ್ನೂ ಸಹ ಮಾಡಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೭.ಯಾವುದೇ ಶಾಖೆ, ತಾಲ್ಲೂಕು, ಜಿಲ್ಲೆ ಅಥವಾ ರಾಜ್ಯ ಸಮಿತಿಯ ಪದಾಧಿಕಾರಿಗಳ ಹುದ್ದೆ ಒಂದು ವರ್ಷದ ಅವಧಿಯದಾಗಿರುತ್ತದೆ. ಒಂದು ವರ್ಷದ ಕಾರ್ಯವೈಖರಿಯನ್ನು ಪರಿಶೀಲಿಸಿ ಹುದ್ದೆಯಲ್ಲಿ ಮುಂದುವರಿಸುವ, ತೆಗೆದು ಹಾಕುವ ಅಥವಾ ಬಡ್ತಿ ನೀಡುವ ಬಗ್ಗೆ ತೀರ್ಮಾನಿಸಲಾಗುವುದು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೮.ರಾಜ್ಯ ಸಮಿತಿಯ ಪದಾಧಿಕಾರಿಗಳು ಕಡ್ಡಾಯವಾಗಿ ಜಿಲ್ಲಾ ಪ್ರವಾಸ ಮಾಡಲೇಬೇಕು. ಹಾಗೆಯೇ ಜಿಲ್ಲಾ ಸಮಿತಿಯ ಪದಾಧಿಕಾರಿಗಳು ತಾಲ್ಲೂಕು ಪ್ರವಾಸ ಮಾಡಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                        <li>
                                            ೧೯.ಜಿಲ್ಲಾಧ್ಯಕ್ಷರ ಬದಲಾವಣೆ ಮತ್ತು ನೇಮಕವನ್ನು ರಾಜ್ಯ ಸಮಿತಿ ಸಭೆಯಲ್ಲಿ ಚರ್ಚಿಸಿ ನಿರ್ಧರಿಸಬೇಕು. ರಾಜ್ಯಾಧ್ಯಕ್ಷರು / ಕಾರ್ಯಾಧ್ಯಕ್ಷರು ಇದನ್ನು ಅಂಗೀಕರಿಸಬೇಕು.
                                            <br />&nbsp;
                                        </li>
                                    </ul>

                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button class="btn btn-primary cmdagreerules">ನಾನು ಒಪ್ಪುತ್ತೇನೆ</button>

                                <button class="btn btn-default float-right restart">ಪುನರಾರಂಭದ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid step3 step" style="display:none">
                <form id ="registerForm" method="post" enctype="multipart/form-data" asp-controller="Membership" asp-action="Index">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">ನಿಮ್ಮ ಮಾಹಿತಿ</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                @*<form role="form">*@
                            <div class="card-body">
                                <div class="form-group">
                                    <label>ಹೆಸರು</label>
                                    <div>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "ಹೆಸರು", @name = "ntxtName", @required = "required", @id = "txtName" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>ದೂರವಾಣಿ ಸಂಖ್ಯೆ</label>
                                    <div>
                                        @Html.EditorFor(model => model.ContactNumber, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @placeholder = "ದೂರವಾಣಿ ಸಂಖ್ಯೆ",
                                                @type = "number",
                                       @maxlength = "10",
                                                @minlength = "10",
                                       @min = "0",
                                                @name = "ntxtPhone",
                                                @required = "required"
                                            }
                                        })
                                        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger", })
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>ಬವಾಚಿತ್ರ</label>
                                    <div>
                                        @Html.EditorFor(model => model.PhotoUpload, new { htmlAttributes = new { @class = "form-control", @id = "exampleInputFile" } })
                                    </div>

                                </div>
                                @*<label>ಬವಾಚಿತ್ರ</label>
            <div class="input-group" style="font-family:Arial">
                <div class="custom-file">
                    @Html.EditorFor(model => model.PhotoUpload, new { htmlAttributes = new { @type="file", @class = "custom-file-input", @id= "exampleInputFile" } })

                </div>
            </div>
        </div>*@
                                <div class="form-group">
                                    <label>ಇಮೇಲ್</label>
                                    <div>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "ಇಮೇಲ್", @type = "email", @name = "ntxtEmail", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label>ಆಧಾರ್ ಸಂಖ್ಯೆ</label>
                                    <div>
                                        @Html.EditorFor(model => model.IdInfoPrimary, new { htmlAttributes = new { @class = "form-control", @placeholder = "ಆಧಾರ್ ಸಂಖ್ಯೆ" } })
                                        @Html.ValidationMessageFor(model => model.IdInfoPrimary, "", new { @class = "text-danger", })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>ಮತದಾರರ ಸಂಖ್ಯೆ</label>
                                    <div>
                                        @Html.EditorFor(model => model.IdInfoSecondry, new { htmlAttributes = new { @class = "form-control", @placeholder = "ಮತದಾರರ ಸಂಖ್ಯೆ" } })
                                        @Html.ValidationMessageFor(model => model.IdInfoSecondry, "", new { @class = "text-danger", })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>ಮನದಾಳದ ಮಾತು</label>
                                    <div>
                                        @Html.EditorFor(model => model.AdditionalInfo, new { htmlAttributes = new { @class = "form-control", @placeholder = "ಮನದಾಳದ ಮಾತು" } })
                                        @Html.ValidationMessageFor(model => model.AdditionalInfo, "", new { @class = "text-danger", })
                                    </div>
                                </div>
                                <input type="hidden" name="selectedTab" value="0" />
                            </div>

                                @*</form>*@
                            </div>

                        </div>
                        <!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-6">
                            <!-- general form elements disabled -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">ವಿಳಾಸ ವಿವರಗಳು</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    @*<form role="form">*@
                                    <div class="form-group">
                                        <label>ಮನೆ ಸಂಖ್ಯೆ, ರಸ್ತೆ</label>
                                        @* <input asp-for="@Model.Address.Address1" class="form-control" />*@
                                        <div>
                                            @Html.EditorFor(model => model.Address.Address1, new { htmlAttributes = new { @class = "form-control", @placeholder = "ಮನೆ ಸಂಖ್ಯೆ, ರಸ್ತೆ" ,@name="ntxtAddress", @required="required"} })
                                            @Html.ValidationMessageFor(model => model.Address.Address1, "", new { @class = "text-danger", })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>ನಿಮ್ಮ ದೇಶ</label>
                                        <div>
                                            @Html.EditorFor(model => model.Address.Country, new { htmlAttributes = new { @class = "form-control", @placeholder = "ನಿಮ್ಮ ದೇಶ" } })
                                            @Html.ValidationMessageFor(model => model.Address.Country, "", new { @class = "text-danger", })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>ನಿಮ್ಮ ರಾಜ್ಯ</label>
                                        <div>
                                            @Html.EditorFor(model => model.Address.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "ನಿಮ್ಮ ರಾಜ್ಯ" } })
                                            @Html.ValidationMessageFor(model => model.Address.State, "", new { @class = "text-danger", })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>ಜಿಲ್ಲೆ</label>
                                        <div>
                                            @Html.EditorFor(model => model.Address.District, new { htmlAttributes = new { @class = "form-control", @placeholder = "ಜಿಲ್ಲೆ", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Address.District, "", new { @class = "text-danger", })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>ನಿಮ್ಮ ನಗರ</label>
                                        <div>
                                            @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "ನಿಮ್ಮ ನಗರ" ,@required="required"} })
                                            @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger", })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>ಪಿನ್ಕೋಡ್</label>
                                        <div>
                                            @Html.EditorFor(model => model.Address.ZipCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "ಪಿನ್ಕೋಡ್", @required="requried" } })
                                            @Html.ValidationMessageFor(model => model.Address.ZipCode, "", new { @class = "text-danger", })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label></label>
                                    </div>
                                    @*</form>*@
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <!--/.col (right) -->
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary">
                                <div class="card-footer">
                                    <button type="submit"  id="btnSubmit" class="btn btn-primary">ಸಲ್ಲಿಸಿ ಮತ್ತು ಪಾವತಿಸಿ</button>
                                    <button class="btn btn-default float-right restart">ಪುನರಾರಂಭದ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.row -->
            </div>

        </section>
        <!-- /.content -->
    </div>
@*</form>*@

@section Scripts{
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script src="~/js/TelephoneMask.js"></script>
<script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            $("#ntxtPhone").mask('0-00-000 0000');

            $("#registerForm").validate({
                messages: {

                    ntxtName: { required: "ದಯವಿಟ್ಟು ನಿಮ್ಮ ಹೆಸರನ್ನು ನಮೂದಿಸಿ" },
                    ntxtPhone: { required: "ದಯವಿಟ್ಟು ನಿಮ್ಮ ದೂರವಾಣಿ ಸಂಖ್ಯೆಯನ್ನು ನಮೂದಿಸಿ"}
                },

                rules: {
                    ntxtName: "required",
                    ntxtPhone: "required",
                    ntxtAddress: "required",

                    ntxtEmail: {
                        required: true,
                        email:true,
                    }
                }
            });

            $("#btnSubmit").click(function () {
                $("#registerForm").valid();
            });
        })

        $("div[name='btnSelectType'").click(function (e) {
            var rate = $(this).data('rate');
            //alert("rate :" + rate);
            $("input[name='selectedTab']").val(rate);
        });

        $(function () {
            $("#selectable").selectable({
                selected: function (e, ui) {
                    $(".memtypes").hide();
                    $("#" + $(ui.selected).text()).show();
                    $("#cmdmemtype").text($(ui.selected).text() + " ಆಯ್ಕೆ ಮಾಡಿ / Select");
                }
            });
            //$(".btn").css("fontSize", "large");
            //$(".restart").css("box-shadow", "inset 0 0 0 2px gray");
            //$(".restart").css("color", "black");

            $("#ಚಿನ್ನ").show();


            $(".cmdmemtype").click(function () {
                $(".step").hide();
                $(".step2").show();
            });
            $(".cmdagreerules").click(function () {
                $(".step").hide();
                $(".step3").show();
            });

            $(".restart").click(function () {
                $(".step").hide();
                $(".step1").show();
            });

        });

</script>
}